fastapi>=0.109.0
uvicorn>=0.27.0
alpha_vantage>=2.3.1
finnhub-python>=2.4.18
pandas>=2.2.0
matplotlib>=3.8.0
python-dotenv>=1.0.0
yfinance>=0.2.36
redis>=5.0.1
pydantic>=2.6.0
requests>=2.31.0
newsapi-python>=0.2.7
python-multipart>=0.0.6
google-generativeai>=0.3.1 